<script>

  $( document ).ready(function(){
    let countries = [];

    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2.5,
      minZoom: 1,
      center: new google.maps.LatLng(50.7244893,3.2668189)
    });
    
    init();

    function init() {
      $.ajax({
        url : 'data.json',
        cache : true,
        dataType : 'json',
        async : true,
        success : function(data) {
          if (data) {
            $.each(data, function(id,country) {
              var countryCoords;
              var ca;
              var co;
              if ('multi' in country) {
                var ccArray = [];
                for (var t in country['xml']['Polygon']) {
                  countryCoords = [];
                  co = country['xml']['Polygon'][t]['outerBoundaryIs']['LinearRing']['coordinates'].split(' ');
                  for (var i in co) {
                    ca = co[i].split(',');
                    countryCoords.push(new google.maps.LatLng(ca[1], ca[0]));
                  }
                  ccArray.push(countryCoords);
                }
                createCountry(ccArray,country);
              } else {
                countryCoords = [];
                co = country['xml']['outerBoundaryIs']['LinearRing']['coordinates'].split(' ');
                for (var j in co) {
                  ca = co[j].split(',');
                  countryCoords.push(new google.maps.LatLng(ca[1], ca[0]));
                }
                createCountry(countryCoords,country);
              }
            }.bind(this));
            showCountries();
          }
        }.bind(this)
      });
    }
    
    function showCountries() {
      for (var i=0; i<countries.length; i++) {
        countries[i].setMap(map);
        google.maps.event.addListener(countries[i],"mouseover",function(){
          this.setOptions({fillColor: "#f5c879", 'fillOpacity': 0.5});
        });
        google.maps.event.addListener(countries[i],"mouseout",function(){
          this.setOptions({fillColor: "#f5c879", 'fillOpacity': 0});
        });
        google.maps.event.addListener(countries[i], 'click', function(event) {
          populate_country_data(this.title);
        });
      }
    }
    
    function populate_country_data(country_name){
      $.ajax({
        url : '<%= home_index_path %>',
        cache : true,
        dataType : 'json',
        type: 'post',
        async : true,
        data: { "country_name": country_name  },
        success : function(data) {
          let items = '<ul class="list-group">'
          for (country of data){
            items += `<li class="list-group-item d-flex justify-content-between align-items-center">${country.key}<span>${country.value}</span></li>`
          }
          items += '</ul>' 
          console.log(items);
          $('#country_specific_data').html(items);
          $("#modal").modal('show');
        }
        .bind(this)
      });
    }

    function createCountry(coords, country) {
      var currentCountry = new google.maps.Polygon({
        paths: coords,
        title: country.country,
        code: country.iso,
        strokeOpacity: 0,
        fillOpacity: 0
      });
      countries.push(currentCountry);
    }
  });

</script>

<h1 class = "center">Select Country To Get Relevant Data</h1>

<div id="map" class="center" style="width:100%; height:800px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwigc-J6Bax4svQkMvtTN3lyzmtzgIhUc"></script>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selected Country Information</h5>
      </div> 
        <div id = "country_specific_data">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  